In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
cars_data = pd.read_csv('C:\ML Project\German cars\germany_cars.csv')

In [5]:
cars_data.head()

   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [6]:
cars_data.isnull().sum()

mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64

In [ ]:
cars_data.dropna(inplace=True)                #its job is to remove rows or columns that contain any NaN (Not a Number/Missing) values.

In [8]:
cars_data.shape

(46071, 9)

In [9]:
#Duplicate Check
cars_data.duplicated().sum()

np.int64(2124)

In [10]:
cars_data.drop_duplicates(inplace=True)

In [11]:
cars_data.shape

(43947, 9)

In [12]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43947 entries, 0 to 46399
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    43947 non-null  int64
 1   make       43947 non-null  object
 2   model      43947 non-null  object
 3   fuel       43947 non-null  object
 4   gear       43947 non-null  object
 5   offerType  43947 non-null  object
 6   price      43947 non-null  int64
 7   hp         43947 non-null  float64
 8   year       43947 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.4+ MB

In [13]:
#Data Analysis
for col in cars_data.columns:
    print('Unique values of ' + col)
    print(cars_data[col].unique())
    print("======================")

Unique values of mileage
[235000  92800 149300 ...   7612    550    837]
======================
Unique values of make
['BMW' 'Volkswagen' 'SEAT' 'Renault' 'Peugeot' 'Toyota' 'Opel' 'Mazda'
 'Ford' 'Mercedes-Benz' 'Chevrolet' 'Audi' 'Fiat' 'Kia' 'Dacia' 'MINI'
 'Hyundai' 'Skoda' 'Citroen' 'Infiniti' 'Suzuki' 'SsangYong' 'smart'
 'Cupra' 'Volvo' 'Jaguar' 'Porsche' 'Nissan' 'Honda' 'Mitsubishi' 'Lexus'
 'Jeep' 'Maserati' 'Bentley' 'Land' 'Alfa' 'Subaru' 'Dodge' 'Microcar'
 'Lamborghini' 'Lada' 'Tesla' 'Chrysler' 'McLaren' 'Aston' 'Rolls-Royce'
 'Lancia' 'Abarth' 'DS' 'Daihatsu' 'Ligier' 'Ferrari' 'Aixam' 'Zhidou'
 'Morgan' 'Maybach' 'RAM' 'Alpina' 'Polestar' 'Brilliance' 'Piaggio'
 'FISKER' 'Others' 'Cadillac' 'Iveco' 'Isuzu' 'Corvette' 'Baic' 'DFSK'
 'Estrima' 'Alpine']
======================
Unique values of model
['316' 'Golf' 'Exeo' 'Megane' '308' 'Auris' 'Scenic' 'Zafira' '3'
 'Transit' 'Meriva' 'E 250' 'Orlando' 'A4' 'Polo' 'Espace' 'Grand Espace'
 'Sedici' 'Corsa' 'Picanto' 'Duster' 'Cross Touran' 'Beetle'
 'Golf Cabriolet' '118' 'Astra' 'Focus' 'One D Countryman'
 'Cooper Clubman' 'B 180' 'Insignia' 'One' '320' 'iX35' 'Adam' '520'
 'B-Max' 'Golf Variant' 'Touran' 'Optima' '114' 'Galaxy' 'Leon' 'A1'
 'Trax' 'Verso' 'Golf Plus' 'Fiesta' 'Vivaro' 'Yaris' 'iX20' 'up!'
 'Rapid/Spaceback' '116' 'Passat Variant' "Ceed / cee'd" 'Fabia' 'Ibiza'
 'C-Max' 'Boxer' 'Superb' 'C4 Cactus' '208' 'Q70' 'Swift' 'Korando'
 'Sandero' '2' 'Sorento' 'GLC 220' 'A6' 'E 400' 'forTwo' 'Mii' 'Citigo'
 'Aygo' 'Punto' 'i10' 'forFour' 'A6 allroad' 'A4 allroad' 'GLC 250' 'Q2'
 'Tiguan' 'Ateca' 'Amarok' 'Q5' 'SQ5' 'Q7' 'M2' 'XC90' 'X3' 'X2' 'T-Roc'
 'Vito' 'Kuga' 'Karoq' 'GLA 250' 'Alhambra' 'RS Q3' 'TT RS' 'F-Type'
 'Macan' 'Touareg' 'A7' 'S5' 'T6 California' 'Q8' 'Panda' '508' 'Qashqai'
 'Civic' 'Passat' 'Avensis' 'Octavia' 'Altea' 'Mondeo' 'Jetta' 'i40'
 'Grand C4 Picasso' '2008' 'SX4' 'Jazz' 'i20' 'Yeti' 'Roomster' 'Venga'
 'DS3' 'Captur' 'Clio' 'C4' 'Rio' 'Scudo' 'Pulsar' 'Caddy' 'ZOE' 'C3'
 'Citan' 'Micra' 'Twingo' 'Ka/Ka+' 'Space Star' '500' 'Eclipse Cross'
 'Grandland X' 'XF' 'Passat Alltrack' 'Combo' 'E 300' 'E 450' 'RX 450h'
 'XC60' 'RS3' 'CLS 350' 'F-Pace' 'Arona' 'EcoSport' 'Puma' 'i30' 'Note'
 '206' '207' 'A3' 'Doblo' "Ceed SW / cee'd SW" 'Grande Punto' 'E 200'
 'Logan' 'Punto Evo' 'Mokka' '330' 'S-Max' 'Transit Custom' '530'
 'GLA 180' 'A 160' '430' '535' 'T6 Multivan' 'E 220' 'C 250' 'C 300'
 'A 45 AMG' 'S3' 'GLC 350' 'V90 Cross Country' 'V 220' 'A5' 'Edge' 'V60'
 'Golf GTI' 'Ioniq' 'C 220' 'Camry' 'Tucson' 'Talisman' 'T6.1 Transporter'
 'CX-30' 'Crossland X' 'Tourneo Custom' 'Compass' 'Formentor' '5008'
 'Ranger' 'Spacetourer' 'A 180' 'Cruze' '108' 'Phaeton' 'GLE 350' 'S4'
 'GranTurismo' 'Continental' 'Zafira Tourer' 'Kona' 'Cooper D' '218'
 'C-HR' 'Cooper S' 'A8' 'SQ7' 'RS' 'E 53 AMG' 'Cayenne' 'GLS 500' 'XC40'
 'Kodiaq' 'CX-5' 'Arteon' 'Sharan' '3008' 'ID.3' 'V 300' 'V 250'
 'T6.1 Multivan' 'S60' 'T6.1 California' 'GLC 43 AMG' 'NV200'
 'Grand C-Max' 'Veloster' 'S40' 'Antara' 'Crafter' 'Scirocco' 'V40' '220'
 '500C' 'Partner' 'Carens' 'iOn' 'C1' 'Express' 'Stonic' 'Colt' 'Spark'
 'Transit Connect' 'Berlingo' 'New Panda' 'i3' 'Rover Range Rover Evoque'
 'Rover Discovery Sport' '335' 'V60 Cross Country' 'CLA 200'
 'Cooper S Countryman' 'Cascada' 'SX4 S-Cross' 'Cooper' '318'
 'One Countryman' 'One Cabrio' '6' 'Prius' 'Scala' 'GT86' 'RAV 4'
 'Corolla' 'Q3' 'X1' 'Navara' 'Tarraco' 'Grand Scenic' '5' 'Verso-S' 'V50'
 'Trafic' 'Altea XL' 'C3 Picasso' 'One D' 'Tivoli' 'Tipo'
 'Transit Courier' 'Karl' '500L' 'MX-30' 'Juke' 'Captiva' 'B 160' 'CX-7'
 'Romeo Giulietta' 'Cooper D Clubman' 'Kangoo' 'C5' 'Mokka X' 'CX-3' 'V90'
 'X6' '730' '550' 'Rover Discovery' '650' 'Koleos' 'A 250' '525' 'C 200'
 'Kadjar' 'DS5' '4008' 'Golf Sportsvan' 'Sprinter' 'Forester' 'Toledo'
 'E 350' 'CLA 250' 'RS5' 'e-tron' 'RS4' 'Challenger' 'Rover Range Rover'
 'RS6' 'RS7' 'Polo GTI' 'Freemont' 'Qashqai+2' '325' 'C4 Aircross'
 'C-Elysée' 'Due' 'T-Cross' 'EQC 400' 'GLA 45 AMG'
 'Rover Range Rover Velar' 'GLE 400' 'S 350' 'Aveo' 'Splash' 'Aventador'
 'Rover Range Rover Sport' 'C 43 AMG' 'C 63 AMG' 'E 43 AMG' 'X6 M'
 'Wrangler' 'B 200' 'Soul' 'S90' 'Santa Fe' 'Zafira Life' 'Alto' 'Stinger'
 '540' 'GLC 300' 'GLC 63 AMG' 'Sportage' 'IS 300' 'AMG GT' 'X7 M'
 'S 63 AMG' 'Dokker' 'GLB 200' 'Cayman' 'Panamera' 'R8' 'Vitara' 'C70'
 'Eos' 'Jumper' '120' 'Tourneo Courier' 'C4 Picasso' '420' '140'
 'John Cooper Works Countryman' 'S6' 'V40 Cross Country' 'Grand Cherokee'
 'Supra' 'Mustang' '340' 'Rover Defender' 'NX 300' 'Enyaq' 'M8' '911'
 'T5 Transporter' 'Tourneo Connect' 'XV' 'C 180' 'Accord' 'DS4' 'ASX'
 'Kalina' 'C 400' 'Model 3' 'GLC 200' 'Passat CC' 'Outlander' 'CR-V'
 'Grand Voyager' '216' 'Celerio' 'X2 M' 'RS Q8' 'CC' 'Laguna' 'Cross Golf'
 'Renegade' 'Jumpy' 'E 63 AMG' 'Model X' '991' '570S' 'Martin Vantage'
 'Ghost' 'Levante' 'M5' 'E-Pace' 'T6 Caravelle' 'GLB 250' 'Bipper'
 'John Cooper Works' 'MX-5' 'A 200' '418' 'TT' '135' "ProCeed / pro_cee'd"
 'XCeed' 'Cooper SE' 'Cooper Countryman' 'Cooper D Cabrio' 'Modus'
 'Fusion' 'Romeo MiTo' 'C30' 'Master' '440' '240' 'SLC 200' 'Explorer'
 'X5' 'Martin V8' 'Ignis' 'C3 Aircross' 'Kamiq' 'Latitude' 'Ducato'
 'Lodgy' 'Legacy' 'Rover Freelander' 'Jimny' 'Cooper SD Countryman'
 'Voyager' 'Leaf' '500X' 'SQ8' 'Automobiles DS 4' 'S80' 'REXTON'
 'Romeo Stelvio' 'Baleno' '595 Competizione' 'Gladiator' '107' 'Sirion'
 'Crossland' 'ES 300' 'Ghibli' 'Lancer' 'Bravo' '740' '750' 'S 560' 'M4'
 'M3' 'Z4' 'X3 M' 'X4 M' 'Niro' 'Arkana' 'Urban Cruiser' 'Thema'
 'Grand Tourneo' 'XLV' 'Kizashi' 'iQ' 'T6 Kombi' 'GLE 450' '328' '125'
 'Taiga' 'CR-Z' 'C4 SpaceTourer' 'JS 50' 'T6 Transporter' 'S 500'
 'Quattroporte' 'F8 Tributo' '720S' 'Romeo 4C' 'i8' 'A 35 AMG' 'X4'
 'Traveller' 'CLA 220' 'Niva' 'City' 'John Cooper Works Coupe' 'Movano'
 'C 350' 'Agila' 'Automobiles DS 3' 'Proace' '500e' 'Cooper SD Cabrio'
 'Fiorino' 'Evalia' 'H-1' 'GLA 220' 'Cooper Cabrio' 'OUTBACK' '301' 'C15'
 'A 220' 'C5 Aircross' 'Bayon' 'Golf GTE' 'LS 500' 'Romeo Giulia'
 'Tourneo' 'Cooper SD' 'CT 200h' 'XE' '807' 'One Clubman' '640' 'CLA 180'
 'One D Clubman' 'Cooper D Countryman' '595' 'T5 Kombi' '528' 'GLK 220'
 '595 Turismo' 'Vesta' 'I-Pace' 'Charger' 'GLE 63 AMG' 'GT' 'D2S' 'Prius+'
 '523' 'GS 450h' 'RCZ' 'GLA 200' 'X5 M' 'Marco Polo' '3-Wheeler'
 'Cooper S Coupe' 'Cooper Coupe' 'Cooper Paceman' 'V70' '840' 'G 63 AMG'
 'Pullman' 'S 650' 'Cooper S Cabrio' 'Grand Vitara' 'T5' 'CLS' 'GLK 250'
 'T5 Caravelle' 'Viano' 'Cooper SD Paceman' 'M.Go' 'Qubo' 'Camaro' '370Z'
 'Ampera' 'X-Trail' 'CLA 45 AMG' 'HR-V' 'GLE 43 AMG' 'UX 250h' 'Murano'
 'Delta' 'Cooper D Paceman' 'Grand C4 SpaceTourer' 'T4 Allstar' 'MUSSO'
 'Talento' '214' 'E 500' 'ML 250' 'T5 California' 'S 400' '760' 'SLK 200'
 'T5 Multivan' 'B 250' 'GLK 200' 'B 220' 'Expert' 'Punto EVO' '230'
 'Cooper SD Clubman' 'Primastar' 'brabus' 'Cherokee' 'Cooper Roadster'
 'Cooper S Roadster' '225' 'T5 Shuttle' 'Automobiles DS 5' '1500' 'Trezia'
 'CLS 500' 'XKR' '997' 'ML 350' 'GLK 350' 'GL 350' 'GS 250' 'RAM' '518'
 'New Beetle' 'Kangoo Z.E.' '488' 'Z4 M' '235' 'Boxster' 'C8' 'Model S'
 'XK' 'Pixo' 'Priora' 'CLC' 'S1' 'SLK 250' '435' 'R 350'
 'Cooper S Paceman' 'C6' 'Twizy' 'CLS 250' '812' 'FF' 'B3' '300C' '123'
 'Aspen' 'G' 'E-NV200' 'Bentayga' 'Wind' 'G 350' 'G 500' 'CL 500' 'SLS'
 'XJ' '407' 'Romeo Sportwagon' 'BS4' 'Impreza' '428' 'Grand Caravan'
 'Cooper SD Coupe' 'CLS 63 AMG' 'LS 600' 'Fox' 'Cooper S Clubman' '300'
 'M6' '595C' 'F12' '695' 'Cuore' 'Porter' 'Caliber' 'Karma' 'Gallardo'
 'S60 Cross Country' 'Praktik' 'John Cooper Works Clubman' 'LC 500' '323'
 'GL 63 AMG' 'SLC 300' 'Rodius' 'Pajero' 'CLS 220' 'D3' 'S8' 'Journey'
 'Linea' 'Grand Santa Fe' 'Landwind' 'TTS' 'Swace' 'Clubvan' 'RC 300h'
 'Roadster' 'V 200' 'UX 200' 'Grand Modus' 'GLS 400' 'Wraith' 'Q30'
 'Mokka-E' 'XT4' 'SL 500' 'GLS 350' 'SL 350' 'M850'
 'Automobiles DS 3 Crossback' 'ID.4' 'Huracan' 'Mirai' 'Alaskan' 'NP300'
 'I-MiEV' 'Charade' 'Daily' 'Ypsilon' 'city-coupé/city-cabrio' 'Fullback'
 'Martin Rapide' 'Viper' '675LT' 'MUSA' 'S 600' 'Polo Cross' 'Terios'
 'Automobiles DS 7 Crossback' 'SLK 300' 'S7' 'Eclipse' 'Romeo 159'
 'Transporter' 'X7' 'Land Cruiser' 'Highlander' 'SLC 250' 'C-Zero'
 'CLS 400' 'Insight' 'LX 570' 'Martin DB11' 'Urus' 'Transit Bus' 'Q60'
 'GLB 180' 'SLC 180' 'Nemo' 'NV300' 'Getz' 'Mulsanne' 'EX30' 'Carnival'
 'ML 300' 'Hilux' 'R 300' 'Malibu' 'Ape' 'Pathfinder' 'MP4-12C' 'Volt'
 '250' 'D-Max' 'ATS' '458' 'Granta' 'Town & Country' 'Q50' 'GLE 500'
 'Dart' 'Genesis' 'XC70' 'Rapid' 'Odyssey' 'B7' 'CTS' 'Z06' 'NSX'
 '124 Spider' 'Martin' 'GLE 250' 'B5' 'Senova X35' 'BJ20' 'Pacifica'
 'Durango' 'C7' 'GranCabrio' 'M1' '630' 'Romeo Quadrifoglio' 'CLS 450'
 'Flex' 'F 150' 'Silverado' '600LT' '992' 'Glory 580' 'XD3' 'G 400' 'Birò'
 'Rifter' 'Levorg' 'Across' 'Taycan' 'Martin DBX' 'Flying Spur' 'S 450'
 'e' 'Kona Elektro' 'GLS 600' 'GLB 220' 'Alpine A110' 'EQV 300' 'S 260'
 'e-Niro' 'A110' 'NV250']
======================
Unique values of fuel
['Diesel' 'Gasoline' 'Electric/Gasoline' '-/- (Fuel)' 'Electric'
 'Electric/Diesel' 'CNG' 'LPG' 'Others' 'Hydrogen' 'Ethanol']
======================
Unique values of gear
['Manual' 'Automatic' 'Semi-automatic']
======================
Unique values of offerType
['Used' 'Demonstration' "Employee's car" 'Pre-registered' 'New']
======================
Unique values of price
[ 6800  6877  6900 ... 10140 11805 12805]
======================
Unique values of hp
[116. 122. 160. 110. 156.  99. 131. 150.  86. 101. 105. 204. 141. 120.
  60. 135. 143. 140. 163. 179. 125.  90. 109.  98. 184. 102. 126.  80.
 136. 190. 170.  94. 178.  69.  87. 200. 252. 333.  71.  67.  95.  75.
 272. 218. 231. 239. 300. 224. 320. 354. 286. 370. 235. 265. 211. 367.
 400. 381. 245. 347. 340.  72.  84. 117. 132. 124.  82.  92. 128.  58.
  73. 182. 326. 194. 313. 392. 199. 551.  54.  88. 106.  61.  68.  97.
  77. 258. 155. 349. 310. 254. 220. 209. 250. 177. 238. 114. 280. 230.
 185. 181. 212. 111. 334. 460. 635. 192. 435. 450. 421. 455. 165. 237.
 360. 408. 341. 253. 390. 145. 166.  83.  91. 175. 147. 152.  76.  65.
 167. 173. 118. 462. 306. 449. 188. 717. 510. 600.   5. 121. 197. 330.
 262. 700. 476. 401. 575. 159. 151. 223. 612. 241. 441. 457. 480. 560.
 557. 620. 129. 174. 207. 374. 292. 249. 299. 625. 650. 420. 549. 513.
 144. 287. 186. 303. 571. 562. 570. 446. 430. 201. 363. 275. 203. 264.
 337. 394.  48. 469. 605. 405. 260. 205.  56. 107. 366. 581. 598. 721.
 770. 261.   8. 404. 325. 411.   1. 417. 530. 215. 242. 585. 158.  24.
 345. 610. 133. 630. 387. 351. 500. 453. 328. 222. 290. 639. 305. 213.
 609. 733. 256. 148. 352. 525. 669. 385. 426. 315. 517. 555.  11. 169.
 294. 799. 659. 409. 375. 680. 219. 271. 431. 519. 548. 445. 772. 416.
 288. 775. 196. 309. 226. 468.  10. 464. 751.  42. 189. 503. 281.  79.
 171. 103. 632. 279. 544. 591. 113. 273. 154. 559. 649. 674. 317. 247.
 359. 740. 540. 428.  12. 706. 339.  41.  63.   7. 243. 398. 276.  64.
 364. 572. 670. 283. 362. 608. 642. 604. 532. 314. 291. 481. 521. 193.
 355. 850. 767. 487. 389. 461. 318. 344. 771. 489. 566.]
======================
Unique values of year
[2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]
======================

In [14]:
def get_brand_name(car_name):
    car_name = car_name.split(' ')[0]
    return car_name.strip()

In [15]:
def clean_data(value):
    value = value.split(' ')[0]
    value = value.strip()
    if value == '':
        value = 0
    return float(value)

In [16]:
get_brand_name('Maruti  Swift Dzire VDI')

'Maruti'

In [17]:
cars_data['make'] = cars_data['make'].apply(get_brand_name)

In [18]:
for col in cars_data.columns:
    print('Unique values of ' + col)
    print(cars_data[col].unique())
    print("======================")

Unique values of mileage
[235000  92800 149300 ...   7612    550    837]
======================
Unique values of make
['BMW' 'Volkswagen' 'SEAT' 'Renault' 'Peugeot' 'Toyota' 'Opel' 'Mazda'
 'Ford' 'Mercedes-Benz' 'Chevrolet' 'Audi' 'Fiat' 'Kia' 'Dacia' 'MINI'
 'Hyundai' 'Skoda' 'Citroen' 'Infiniti' 'Suzuki' 'SsangYong' 'smart'
 'Cupra' 'Volvo' 'Jaguar' 'Porsche' 'Nissan' 'Honda' 'Mitsubishi' 'Lexus'
 'Jeep' 'Maserati' 'Bentley' 'Land' 'Alfa' 'Subaru' 'Dodge' 'Microcar'
 'Lamborghini' 'Lada' 'Tesla' 'Chrysler' 'McLaren' 'Aston' 'Rolls-Royce'
 'Lancia' 'Abarth' 'DS' 'Daihatsu' 'Ligier' 'Ferrari' 'Aixam' 'Zhidou'
 'Morgan' 'Maybach' 'RAM' 'Alpina' 'Polestar' 'Brilliance' 'Piaggio'
 'FISKER' 'Others' 'Cadillac' 'Iveco' 'Isuzu' 'Corvette' 'Baic' 'DFSK'
 'Estrima' 'Alpine']
======================
Unique values of model
['316' 'Golf' 'Exeo' 'Megane' '308' 'Auris' 'Scenic' 'Zafira' '3'
 'Transit' 'Meriva' 'E 250' 'Orlando' 'A4' 'Polo' 'Espace' 'Grand Espace'
 'Sedici' 'Corsa' 'Picanto' 'Duster' 'Cross Touran' 'Beetle'
 'Golf Cabriolet' '118' 'Astra' 'Focus' 'One D Countryman'
 'Cooper Clubman' 'B 180' 'Insignia' 'One' '320' 'iX35' 'Adam' '520'
 'B-Max' 'Golf Variant' 'Touran' 'Optima' '114' 'Galaxy' 'Leon' 'A1'
 'Trax' 'Verso' 'Golf Plus' 'Fiesta' 'Vivaro' 'Yaris' 'iX20' 'up!'
 'Rapid/Spaceback' '116' 'Passat Variant' "Ceed / cee'd" 'Fabia' 'Ibiza'
 'C-Max' 'Boxer' 'Superb' 'C4 Cactus' '208' 'Q70' 'Swift' 'Korando'
 'Sandero' '2' 'Sorento' 'GLC 220' 'A6' 'E 400' 'forTwo' 'Mii' 'Citigo'
 'Aygo' 'Punto' 'i10' 'forFour' 'A6 allroad' 'A4 allroad' 'GLC 250' 'Q2'
 'Tiguan' 'Ateca' 'Amarok' 'Q5' 'SQ5' 'Q7' 'M2' 'XC90' 'X3' 'X2' 'T-Roc'
 'Vito' 'Kuga' 'Karoq' 'GLA 250' 'Alhambra' 'RS Q3' 'TT RS' 'F-Type'
 'Macan' 'Touareg' 'A7' 'S5' 'T6 California' 'Q8' 'Panda' '508' 'Qashqai'
 'Civic' 'Passat' 'Avensis' 'Octavia' 'Altea' 'Mondeo' 'Jetta' 'i40'
 'Grand C4 Picasso' '2008' 'SX4' 'Jazz' 'i20' 'Yeti' 'Roomster' 'Venga'
 'DS3' 'Captur' 'Clio' 'C4' 'Rio' 'Scudo' 'Pulsar' 'Caddy' 'ZOE' 'C3'
 'Citan' 'Micra' 'Twingo' 'Ka/Ka+' 'Space Star' '500' 'Eclipse Cross'
 'Grandland X' 'XF' 'Passat Alltrack' 'Combo' 'E 300' 'E 450' 'RX 450h'
 'XC60' 'RS3' 'CLS 350' 'F-Pace' 'Arona' 'EcoSport' 'Puma' 'i30' 'Note'
 '206' '207' 'A3' 'Doblo' "Ceed SW / cee'd SW" 'Grande Punto' 'E 200'
 'Logan' 'Punto Evo' 'Mokka' '330' 'S-Max' 'Transit Custom' '530'
 'GLA 180' 'A 160' '430' '535' 'T6 Multivan' 'E 220' 'C 250' 'C 300'
 'A 45 AMG' 'S3' 'GLC 350' 'V90 Cross Country' 'V 220' 'A5' 'Edge' 'V60'
 'Golf GTI' 'Ioniq' 'C 220' 'Camry' 'Tucson' 'Talisman' 'T6.1 Transporter'
 'CX-30' 'Crossland X' 'Tourneo Custom' 'Compass' 'Formentor' '5008'
 'Ranger' 'Spacetourer' 'A 180' 'Cruze' '108' 'Phaeton' 'GLE 350' 'S4'
 'GranTurismo' 'Continental' 'Zafira Tourer' 'Kona' 'Cooper D' '218'
 'C-HR' 'Cooper S' 'A8' 'SQ7' 'RS' 'E 53 AMG' 'Cayenne' 'GLS 500' 'XC40'
 'Kodiaq' 'CX-5' 'Arteon' 'Sharan' '3008' 'ID.3' 'V 300' 'V 250'
 'T6.1 Multivan' 'S60' 'T6.1 California' 'GLC 43 AMG' 'NV200'
 'Grand C-Max' 'Veloster' 'S40' 'Antara' 'Crafter' 'Scirocco' 'V40' '220'
 '500C' 'Partner' 'Carens' 'iOn' 'C1' 'Express' 'Stonic' 'Colt' 'Spark'
 'Transit Connect' 'Berlingo' 'New Panda' 'i3' 'Rover Range Rover Evoque'
 'Rover Discovery Sport' '335' 'V60 Cross Country' 'CLA 200'
 'Cooper S Countryman' 'Cascada' 'SX4 S-Cross' 'Cooper' '318'
 'One Countryman' 'One Cabrio' '6' 'Prius' 'Scala' 'GT86' 'RAV 4'
 'Corolla' 'Q3' 'X1' 'Navara' 'Tarraco' 'Grand Scenic' '5' 'Verso-S' 'V50'
 'Trafic' 'Altea XL' 'C3 Picasso' 'One D' 'Tivoli' 'Tipo'
 'Transit Courier' 'Karl' '500L' 'MX-30' 'Juke' 'Captiva' 'B 160' 'CX-7'
 'Romeo Giulietta' 'Cooper D Clubman' 'Kangoo' 'C5' 'Mokka X' 'CX-3' 'V90'
 'X6' '730' '550' 'Rover Discovery' '650' 'Koleos' 'A 250' '525' 'C 200'
 'Kadjar' 'DS5' '4008' 'Golf Sportsvan' 'Sprinter' 'Forester' 'Toledo'
 'E 350' 'CLA 250' 'RS5' 'e-tron' 'RS4' 'Challenger' 'Rover Range Rover'
 'RS6' 'RS7' 'Polo GTI' 'Freemont' 'Qashqai+2' '325' 'C4 Aircross'
 'C-Elysée' 'Due' 'T-Cross' 'EQC 400' 'GLA 45 AMG'
 'Rover Range Rover Velar' 'GLE 400' 'S 350' 'Aveo' 'Splash' 'Aventador'
 'Rover Range Rover Sport' 'C 43 AMG' 'C 63 AMG' 'E 43 AMG' 'X6 M'
 'Wrangler' 'B 200' 'Soul' 'S90' 'Santa Fe' 'Zafira Life' 'Alto' 'Stinger'
 '540' 'GLC 300' 'GLC 63 AMG' 'Sportage' 'IS 300' 'AMG GT' 'X7 M'
 'S 63 AMG' 'Dokker' 'GLB 200' 'Cayman' 'Panamera' 'R8' 'Vitara' 'C70'
 'Eos' 'Jumper' '120' 'Tourneo Courier' 'C4 Picasso' '420' '140'
 'John Cooper Works Countryman' 'S6' 'V40 Cross Country' 'Grand Cherokee'
 'Supra' 'Mustang' '340' 'Rover Defender' 'NX 300' 'Enyaq' 'M8' '911'
 'T5 Transporter' 'Tourneo Connect' 'XV' 'C 180' 'Accord' 'DS4' 'ASX'
 'Kalina' 'C 400' 'Model 3' 'GLC 200' 'Passat CC' 'Outlander' 'CR-V'
 'Grand Voyager' '216' 'Celerio' 'X2 M' 'RS Q8' 'CC' 'Laguna' 'Cross Golf'
 'Renegade' 'Jumpy' 'E 63 AMG' 'Model X' '991' '570S' 'Martin Vantage'
 'Ghost' 'Levante' 'M5' 'E-Pace' 'T6 Caravelle' 'GLB 250' 'Bipper'
 'John Cooper Works' 'MX-5' 'A 200' '418' 'TT' '135' "ProCeed / pro_cee'd"
 'XCeed' 'Cooper SE' 'Cooper Countryman' 'Cooper D Cabrio' 'Modus'
 'Fusion' 'Romeo MiTo' 'C30' 'Master' '440' '240' 'SLC 200' 'Explorer'
 'X5' 'Martin V8' 'Ignis' 'C3 Aircross' 'Kamiq' 'Latitude' 'Ducato'
 'Lodgy' 'Legacy' 'Rover Freelander' 'Jimny' 'Cooper SD Countryman'
 'Voyager' 'Leaf' '500X' 'SQ8' 'Automobiles DS 4' 'S80' 'REXTON'
 'Romeo Stelvio' 'Baleno' '595 Competizione' 'Gladiator' '107' 'Sirion'
 'Crossland' 'ES 300' 'Ghibli' 'Lancer' 'Bravo' '740' '750' 'S 560' 'M4'
 'M3' 'Z4' 'X3 M' 'X4 M' 'Niro' 'Arkana' 'Urban Cruiser' 'Thema'
 'Grand Tourneo' 'XLV' 'Kizashi' 'iQ' 'T6 Kombi' 'GLE 450' '328' '125'
 'Taiga' 'CR-Z' 'C4 SpaceTourer' 'JS 50' 'T6 Transporter' 'S 500'
 'Quattroporte' 'F8 Tributo' '720S' 'Romeo 4C' 'i8' 'A 35 AMG' 'X4'
 'Traveller' 'CLA 220' 'Niva' 'City' 'John Cooper Works Coupe' 'Movano'
 'C 350' 'Agila' 'Automobiles DS 3' 'Proace' '500e' 'Cooper SD Cabrio'
 'Fiorino' 'Evalia' 'H-1' 'GLA 220' 'Cooper Cabrio' 'OUTBACK' '301' 'C15'
 'A 220' 'C5 Aircross' 'Bayon' 'Golf GTE' 'LS 500' 'Romeo Giulia'
 'Tourneo' 'Cooper SD' 'CT 200h' 'XE' '807' 'One Clubman' '640' 'CLA 180'
 'One D Clubman' 'Cooper D Countryman' '595' 'T5 Kombi' '528' 'GLK 220'
 '595 Turismo' 'Vesta' 'I-Pace' 'Charger' 'GLE 63 AMG' 'GT' 'D2S' 'Prius+'
 '523' 'GS 450h' 'RCZ' 'GLA 200' 'X5 M' 'Marco Polo' '3-Wheeler'
 'Cooper S Coupe' 'Cooper Coupe' 'Cooper Paceman' 'V70' '840' 'G 63 AMG'
 'Pullman' 'S 650' 'Cooper S Cabrio' 'Grand Vitara' 'T5' 'CLS' 'GLK 250'
 'T5 Caravelle' 'Viano' 'Cooper SD Paceman' 'M.Go' 'Qubo' 'Camaro' '370Z'
 'Ampera' 'X-Trail' 'CLA 45 AMG' 'HR-V' 'GLE 43 AMG' 'UX 250h' 'Murano'
 'Delta' 'Cooper D Paceman' 'Grand C4 SpaceTourer' 'T4 Allstar' 'MUSSO'
 'Talento' '214' 'E 500' 'ML 250' 'T5 California' 'S 400' '760' 'SLK 200'
 'T5 Multivan' 'B 250' 'GLK 200' 'B 220' 'Expert' 'Punto EVO' '230'
 'Cooper SD Clubman' 'Primastar' 'brabus' 'Cherokee' 'Cooper Roadster'
 'Cooper S Roadster' '225' 'T5 Shuttle' 'Automobiles DS 5' '1500' 'Trezia'
 'CLS 500' 'XKR' '997' 'ML 350' 'GLK 350' 'GL 350' 'GS 250' 'RAM' '518'
 'New Beetle' 'Kangoo Z.E.' '488' 'Z4 M' '235' 'Boxster' 'C8' 'Model S'
 'XK' 'Pixo' 'Priora' 'CLC' 'S1' 'SLK 250' '435' 'R 350'
 'Cooper S Paceman' 'C6' 'Twizy' 'CLS 250' '812' 'FF' 'B3' '300C' '123'
 'Aspen' 'G' 'E-NV200' 'Bentayga' 'Wind' 'G 350' 'G 500' 'CL 500' 'SLS'
 'XJ' '407' 'Romeo Sportwagon' 'BS4' 'Impreza' '428' 'Grand Caravan'
 'Cooper SD Coupe' 'CLS 63 AMG' 'LS 600' 'Fox' 'Cooper S Clubman' '300'
 'M6' '595C' 'F12' '695' 'Cuore' 'Porter' 'Caliber' 'Karma' 'Gallardo'
 'S60 Cross Country' 'Praktik' 'John Cooper Works Clubman' 'LC 500' '323'
 'GL 63 AMG' 'SLC 300' 'Rodius' 'Pajero' 'CLS 220' 'D3' 'S8' 'Journey'
 'Linea' 'Grand Santa Fe' 'Landwind' 'TTS' 'Swace' 'Clubvan' 'RC 300h'
 'Roadster' 'V 200' 'UX 200' 'Grand Modus' 'GLS 400' 'Wraith' 'Q30'
 'Mokka-E' 'XT4' 'SL 500' 'GLS 350' 'SL 350' 'M850'
 'Automobiles DS 3 Crossback' 'ID.4' 'Huracan' 'Mirai' 'Alaskan' 'NP300'
 'I-MiEV' 'Charade' 'Daily' 'Ypsilon' 'city-coupé/city-cabrio' 'Fullback'
 'Martin Rapide' 'Viper' '675LT' 'MUSA' 'S 600' 'Polo Cross' 'Terios'
 'Automobiles DS 7 Crossback' 'SLK 300' 'S7' 'Eclipse' 'Romeo 159'
 'Transporter' 'X7' 'Land Cruiser' 'Highlander' 'SLC 250' 'C-Zero'
 'CLS 400' 'Insight' 'LX 570' 'Martin DB11' 'Urus' 'Transit Bus' 'Q60'
 'GLB 180' 'SLC 180' 'Nemo' 'NV300' 'Getz' 'Mulsanne' 'EX30' 'Carnival'
 'ML 300' 'Hilux' 'R 300' 'Malibu' 'Ape' 'Pathfinder' 'MP4-12C' 'Volt'
 '250' 'D-Max' 'ATS' '458' 'Granta' 'Town & Country' 'Q50' 'GLE 500'
 'Dart' 'Genesis' 'XC70' 'Rapid' 'Odyssey' 'B7' 'CTS' 'Z06' 'NSX'
 '124 Spider' 'Martin' 'GLE 250' 'B5' 'Senova X35' 'BJ20' 'Pacifica'
 'Durango' 'C7' 'GranCabrio' 'M1' '630' 'Romeo Quadrifoglio' 'CLS 450'
 'Flex' 'F 150' 'Silverado' '600LT' '992' 'Glory 580' 'XD3' 'G 400' 'Birò'
 'Rifter' 'Levorg' 'Across' 'Taycan' 'Martin DBX' 'Flying Spur' 'S 450'
 'e' 'Kona Elektro' 'GLS 600' 'GLB 220' 'Alpine A110' 'EQV 300' 'S 260'
 'e-Niro' 'A110' 'NV250']
======================
Unique values of fuel
['Diesel' 'Gasoline' 'Electric/Gasoline' '-/- (Fuel)' 'Electric'
 'Electric/Diesel' 'CNG' 'LPG' 'Others' 'Hydrogen' 'Ethanol']
======================
Unique values of gear
['Manual' 'Automatic' 'Semi-automatic']
======================
Unique values of offerType
['Used' 'Demonstration' "Employee's car" 'Pre-registered' 'New']
======================
Unique values of price
[ 6800  6877  6900 ... 10140 11805 12805]
======================
Unique values of hp
[116. 122. 160. 110. 156.  99. 131. 150.  86. 101. 105. 204. 141. 120.
  60. 135. 143. 140. 163. 179. 125.  90. 109.  98. 184. 102. 126.  80.
 136. 190. 170.  94. 178.  69.  87. 200. 252. 333.  71.  67.  95.  75.
 272. 218. 231. 239. 300. 224. 320. 354. 286. 370. 235. 265. 211. 367.
 400. 381. 245. 347. 340.  72.  84. 117. 132. 124.  82.  92. 128.  58.
  73. 182. 326. 194. 313. 392. 199. 551.  54.  88. 106.  61.  68.  97.
  77. 258. 155. 349. 310. 254. 220. 209. 250. 177. 238. 114. 280. 230.
 185. 181. 212. 111. 334. 460. 635. 192. 435. 450. 421. 455. 165. 237.
 360. 408. 341. 253. 390. 145. 166.  83.  91. 175. 147. 152.  76.  65.
 167. 173. 118. 462. 306. 449. 188. 717. 510. 600.   5. 121. 197. 330.
 262. 700. 476. 401. 575. 159. 151. 223. 612. 241. 441. 457. 480. 560.
 557. 620. 129. 174. 207. 374. 292. 249. 299. 625. 650. 420. 549. 513.
 144. 287. 186. 303. 571. 562. 570. 446. 430. 201. 363. 275. 203. 264.
 337. 394.  48. 469. 605. 405. 260. 205.  56. 107. 366. 581. 598. 721.
 770. 261.   8. 404. 325. 411.   1. 417. 530. 215. 242. 585. 158.  24.
 345. 610. 133. 630. 387. 351. 500. 453. 328. 222. 290. 639. 305. 213.
 609. 733. 256. 148. 352. 525. 669. 385. 426. 315. 517. 555.  11. 169.
 294. 799. 659. 409. 375. 680. 219. 271. 431. 519. 548. 445. 772. 416.
 288. 775. 196. 309. 226. 468.  10. 464. 751.  42. 189. 503. 281.  79.
 171. 103. 632. 279. 544. 591. 113. 273. 154. 559. 649. 674. 317. 247.
 359. 740. 540. 428.  12. 706. 339.  41.  63.   7. 243. 398. 276.  64.
 364. 572. 670. 283. 362. 608. 642. 604. 532. 314. 291. 481. 521. 193.
 355. 850. 767. 487. 389. 461. 318. 344. 771. 489. 566.]
======================
Unique values of year
[2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]
======================

In [17]:
# Automatic way (assigns 1, 2, 3... automatically)
cars_data['make'] = cars_data['make'].astype('category').cat.codes + 1
print(cars_data['make'].unique())

[ 8 68 61 59 54 67 52 45 27 47 13  7 26 35 20 42 29 62 15 30 65 63 71 17
 69 33 57 51 28 49 40 34 43 10 39  3 64 22 48 37 36 66 14 46  6 60 38  1
 19 21 41 25  2 70 50 44 58  4 56 11 55 24 53 12 32 31 16  9 18 23  5]

In [18]:
# Automatic way: Assigns 1, 2, 3... to the 'model' column
cars_data['model'] = cars_data['model'].astype('category').cat.codes + 1
print(cars_data['model'].unique())

[ 34 395 323 507  33 135 675 815  27 737 508 300 548 105 563 321 409 678
 275 561 297 278 158 396   5 133 338 546 250 146 433 540  36 834 117  63
 150 401 730 547   3 387 474 102 744 767 399 334 774 808 833 835 612   4
 558 231 333 429 177 163 693 187  17 587 696 461 672  13 683 362 108 303
 824 510 239 144 577 825 823 109 106 363 580 725 134 125 583 667 586 482
 797 784 782 698 773 462 455 355 120 602 716 329 497 729 110 649 707 588
 553  61 589 241 555 141 538 122 519 437 829 405  14 670 436 826 809 626
 766 286 225 242 185 615 677 575 220 814 181 238 509 747 447 685  55 316
 417 801 556 245 301 305 609 795 604 207 328 130 317 576 828 536  15  16
 104 292 232 416 298 479 579 516  40 644 741  67 352  95  49  68 710 299
 169 170 101 646 365 764 754 107 318 760 398 434 168 223 746 720 714 217
 280 734 246 340  56 610 686  96 281   2 560 369 647 403 247 817 459 253
  20 176 260 111 668 601 307 229 381 794 457 218 131 680  30 426 756 755
 713 651 712 366 526 404 765 648 127 276 676 757  21  57 554 226 831 179
 326 692 244 687 739 160 533 827 632 629  41 761 199 263 228 671 248  35
 543 541  76 570 674 386 597 274 581 781 530 721 412  54 768 759 736 123
 183 544 727 726 740 453  58 495 444 224 145 219 621 255 451 190 517 216
 763 790  84  70 628  80 458  99  65 167 448 288  44 400 690 339 728 302
 201 606 822 605 234 631 607 608 565 342 590  38 186 175 295 697 311 356
 634 370 636 143 688 142 633 173 174 304 791 779 147 684 656 673 816 124
 691  69 364 367 689 428 112 793 642 293 358 230 552 595 772 194 320 445
   6 733 188  47  11 441 650 758 408 694 523  42 627 529 319 487  91 706
 732 807 166 115 287 113 449 172 512 361 557 549 212 415  19 233 783 603
 196 467 277 613 446 308 514  92  71 505 392 475 485 310 708 360 161 439
 496  97  46 715  10 572 798 273 251 254 515 344 622 184 506  51  25 660
 325 788 504 430 182 450 471 294 478 473 630 438 270 776 472  59 669 138
 655 600 625 156  73 393   1 682 279 313 391 468 165  85  86 640 484 483
 812 785 787 534 129 751 724 413 805 456 832 709 372  39   9 718 213 189
 435 711 639 591 331  83 619 830 100 786 743 200 535 240 442 520 171 118
 136 573  60 268 335 322 419 354 249 537  32 180  98 191 157 397 464 620
 731 267 214 800  88 542  79 198 545 256  72 703  66 376  74 769 425 236
 374 385 284 571  64 384 599 353 789 499  28 264 252 258 762  90 349 574
 643 261 414 700 204 377 702 770 272 480 592 222  43 126 780 202 420 371
 750 522 291 257 406 699 494 719  18 306 489 701 637  87 663 704 149 375
 148 324 578  23 269 568 818 237 259 266  22 705 139  12 745 210 804  94
 491 378 350 383 596  62 532 452  53 813  24 164 195 513 803 562 569 203
 645 664  50 594 265 192 748 206  89 332 151  31   7 132 345 309 159 777
 346 348 197 666 802  45 624 155 431  48 407 271 211 465 341 262  29 486
  75 330  82 282 566 221 454 388 652 567 440 463  37 351 662 617 551 205
 285 654 443 477 411 470 717 695 243 598 616 753 749 410 380 778 582 518
 806 658 379 657 488 137 427 423 511 119 524 424 235 289 810 819 343 503
 771  81 493 641 564 723 140 665 653 315 618 742 792 469 421 661 178 208
 432 466 501 752 738 585 357 659 531 528 390 521 314 227 490 422 593 498
 128 559 492 775  26 283 114  52 418 735 584 373 290 389 796 611 539 153
 215 811 525   8 500 368 152 679 154 550 296 193 402 481  78 623 209 336
 327 681  77  93 394 799 347 162 614 476 116 722 502 337 638 820 460 382
 359 121 312 635 821 103 527]

In [19]:
# 1. Fuel Mapping
fuel_mapping = {
    'Diesel': 1, 'Gasoline': 2, 'Electric/Gasoline': 3, '-/- (Fuel)': 4, 'Electric': 5,
    'Electric/Diesel': 6, 'CNG': 7, 'LPG': 8, 'Others': 9, 'Hydrogen': 10, 'Ethanol': 11
}
cars_data.replace({'fuel': fuel_mapping}, inplace=True)

# 2. Gear Mapping
gear_mapping = {
    'Manual': 1, 'Automatic': 2, 'Semi-automatic': 3
}
cars_data.replace({'gear': gear_mapping}, inplace=True)

# 3. Offer Type Mapping
offer_mapping = {
    'Used': 1, 'Demonstration': 2, "Employee's car": 3, 'Pre-registered': 4, 'New': 5
}
cars_data.replace({'offerType': offer_mapping}, inplace=True)

# Verify the changes
print("Fuel types:", cars_data['fuel'].unique())
print("Gears:", cars_data['gear'].unique())
print("Offers:", cars_data['offerType'].unique())

Fuel types: [ 1  2  3  4  5  6  7  8  9 10 11]
Gears: [1 2 3]
Offers: [1 2 3 4 5]

C:\Users\shank\AppData\Local\Temp\ipykernel_16152\3656374179.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data.replace({'fuel': fuel_mapping}, inplace=True)
C:\Users\shank\AppData\Local\Temp\ipykernel_16152\3656374179.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data.replace({'gear': gear_mapping}, inplace=True)
C:\Users\shank\AppData\Local\Temp\ipykernel_16152\3656374179.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data.replace({'offerType': offer_mapping}, inplace=True)

In [20]:
for col in cars_data.columns:
    print('Unique values of ' + col)
    print(cars_data[col].unique())
    print("======================")

Unique values of mileage
[235000  92800 149300 ...   7612    550    837]
======================
Unique values of make
[ 8 68 61 59 54 67 52 45 27 47 13  7 26 35 20 42 29 62 15 30 65 63 71 17
 69 33 57 51 28 49 40 34 43 10 39  3 64 22 48 37 36 66 14 46  6 60 38  1
 19 21 41 25  2 70 50 44 58  4 56 11 55 24 53 12 32 31 16  9 18 23  5]
======================
Unique values of model
[ 34 395 323 507  33 135 675 815  27 737 508 300 548 105 563 321 409 678
 275 561 297 278 158 396   5 133 338 546 250 146 433 540  36 834 117  63
 150 401 730 547   3 387 474 102 744 767 399 334 774 808 833 835 612   4
 558 231 333 429 177 163 693 187  17 587 696 461 672  13 683 362 108 303
 824 510 239 144 577 825 823 109 106 363 580 725 134 125 583 667 586 482
 797 784 782 698 773 462 455 355 120 602 716 329 497 729 110 649 707 588
 553  61 589 241 555 141 538 122 519 437 829 405  14 670 436 826 809 626
 766 286 225 242 185 615 677 575 220 814 181 238 509 747 447 685  55 316
 417 801 556 245 301 305 609 795 604 207 328 130 317 576 828 536  15  16
 104 292 232 416 298 479 579 516  40 644 741  67 352  95  49  68 710 299
 169 170 101 646 365 764 754 107 318 760 398 434 168 223 746 720 714 217
 280 734 246 340  56 610 686  96 281   2 560 369 647 403 247 817 459 253
  20 176 260 111 668 601 307 229 381 794 457 218 131 680  30 426 756 755
 713 651 712 366 526 404 765 648 127 276 676 757  21  57 554 226 831 179
 326 692 244 687 739 160 533 827 632 629  41 761 199 263 228 671 248  35
 543 541  76 570 674 386 597 274 581 781 530 721 412  54 768 759 736 123
 183 544 727 726 740 453  58 495 444 224 145 219 621 255 451 190 517 216
 763 790  84  70 628  80 458  99  65 167 448 288  44 400 690 339 728 302
 201 606 822 605 234 631 607 608 565 342 590  38 186 175 295 697 311 356
 634 370 636 143 688 142 633 173 174 304 791 779 147 684 656 673 816 124
 691  69 364 367 689 428 112 793 642 293 358 230 552 595 772 194 320 445
   6 733 188  47  11 441 650 758 408 694 523  42 627 529 319 487  91 706
 732 807 166 115 287 113 449 172 512 361 557 549 212 415  19 233 783 603
 196 467 277 613 446 308 514  92  71 505 392 475 485 310 708 360 161 439
 496  97  46 715  10 572 798 273 251 254 515 344 622 184 506  51  25 660
 325 788 504 430 182 450 471 294 478 473 630 438 270 776 472  59 669 138
 655 600 625 156  73 393   1 682 279 313 391 468 165  85  86 640 484 483
 812 785 787 534 129 751 724 413 805 456 832 709 372  39   9 718 213 189
 435 711 639 591 331  83 619 830 100 786 743 200 535 240 442 520 171 118
 136 573  60 268 335 322 419 354 249 537  32 180  98 191 157 397 464 620
 731 267 214 800  88 542  79 198 545 256  72 703  66 376  74 769 425 236
 374 385 284 571  64 384 599 353 789 499  28 264 252 258 762  90 349 574
 643 261 414 700 204 377 702 770 272 480 592 222  43 126 780 202 420 371
 750 522 291 257 406 699 494 719  18 306 489 701 637  87 663 704 149 375
 148 324 578  23 269 568 818 237 259 266  22 705 139  12 745 210 804  94
 491 378 350 383 596  62 532 452  53 813  24 164 195 513 803 562 569 203
 645 664  50 594 265 192 748 206  89 332 151  31   7 132 345 309 159 777
 346 348 197 666 802  45 624 155 431  48 407 271 211 465 341 262  29 486
  75 330  82 282 566 221 454 388 652 567 440 463  37 351 662 617 551 205
 285 654 443 477 411 470 717 695 243 598 616 753 749 410 380 778 582 518
 806 658 379 657 488 137 427 423 511 119 524 424 235 289 810 819 343 503
 771  81 493 641 564 723 140 665 653 315 618 742 792 469 421 661 178 208
 432 466 501 752 738 585 357 659 531 528 390 521 314 227 490 422 593 498
 128 559 492 775  26 283 114  52 418 735 584 373 290 389 796 611 539 153
 215 811 525   8 500 368 152 679 154 550 296 193 402 481  78 623 209 336
 327 681  77  93 394 799 347 162 614 476 116 722 502 337 638 820 460 382
 359 121 312 635 821 103 527]
======================
Unique values of fuel
[ 1  2  3  4  5  6  7  8  9 10 11]
======================
Unique values of gear
[1 2 3]
======================
Unique values of offerType
[1 2 3 4 5]
======================
Unique values of price
[ 6800  6877  6900 ... 10140 11805 12805]
======================
Unique values of hp
[116. 122. 160. 110. 156.  99. 131. 150.  86. 101. 105. 204. 141. 120.
  60. 135. 143. 140. 163. 179. 125.  90. 109.  98. 184. 102. 126.  80.
 136. 190. 170.  94. 178.  69.  87. 200. 252. 333.  71.  67.  95.  75.
 272. 218. 231. 239. 300. 224. 320. 354. 286. 370. 235. 265. 211. 367.
 400. 381. 245. 347. 340.  72.  84. 117. 132. 124.  82.  92. 128.  58.
  73. 182. 326. 194. 313. 392. 199. 551.  54.  88. 106.  61.  68.  97.
  77. 258. 155. 349. 310. 254. 220. 209. 250. 177. 238. 114. 280. 230.
 185. 181. 212. 111. 334. 460. 635. 192. 435. 450. 421. 455. 165. 237.
 360. 408. 341. 253. 390. 145. 166.  83.  91. 175. 147. 152.  76.  65.
 167. 173. 118. 462. 306. 449. 188. 717. 510. 600.   5. 121. 197. 330.
 262. 700. 476. 401. 575. 159. 151. 223. 612. 241. 441. 457. 480. 560.
 557. 620. 129. 174. 207. 374. 292. 249. 299. 625. 650. 420. 549. 513.
 144. 287. 186. 303. 571. 562. 570. 446. 430. 201. 363. 275. 203. 264.
 337. 394.  48. 469. 605. 405. 260. 205.  56. 107. 366. 581. 598. 721.
 770. 261.   8. 404. 325. 411.   1. 417. 530. 215. 242. 585. 158.  24.
 345. 610. 133. 630. 387. 351. 500. 453. 328. 222. 290. 639. 305. 213.
 609. 733. 256. 148. 352. 525. 669. 385. 426. 315. 517. 555.  11. 169.
 294. 799. 659. 409. 375. 680. 219. 271. 431. 519. 548. 445. 772. 416.
 288. 775. 196. 309. 226. 468.  10. 464. 751.  42. 189. 503. 281.  79.
 171. 103. 632. 279. 544. 591. 113. 273. 154. 559. 649. 674. 317. 247.
 359. 740. 540. 428.  12. 706. 339.  41.  63.   7. 243. 398. 276.  64.
 364. 572. 670. 283. 362. 608. 642. 604. 532. 314. 291. 481. 521. 193.
 355. 850. 767. 487. 389. 461. 318. 344. 771. 489. 566.]
======================
Unique values of year
[2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]
======================

In [21]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43947 entries, 0 to 46399
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    43947 non-null  int64
 1   make       43947 non-null  int8
 2   model      43947 non-null  int16
 3   fuel       43947 non-null  int64
 4   gear       43947 non-null  int64
 5   offerType  43947 non-null  int64
 6   price      43947 non-null  int64
 7   hp         43947 non-null  float64
 8   year       43947 non-null  int64
dtypes: float64(1), int16(1), int64(6), int8(1)
memory usage: 2.8 MB

In [22]:
cars_data

       mileage  make  model  fuel  gear  offerType  price     hp  year
0       235000     8     34     1     1          1   6800  116.0  2011
1        92800    68    395     2     1          1   6877  122.0  2011
2       149300    61    323     2     1          1   6900  160.0  2011
3        96200    59    507     2     1          1   6950  110.0  2011
4       156000    54     33     2     1          1   6950  156.0  2011
...        ...   ...    ...   ...   ...        ...    ...    ...   ...
46394       10    15    179     2     1          4  12340   72.0  2021
46396       99    26     55     3     1          4  12490   71.0  2021
46397      550    26     55     3     1          2  12805   69.0  2021
46398      837    26    553     3     1          2  12805   69.0  2021
46399     1500    62    333     2     1          2  12980   60.0  2021

[43947 rows x 9 columns]

In [24]:
for col in cars_data.columns:
    print('------------')
    print(col)
    print(cars_data[col].unique())

------------
mileage
[235000  92800 149300 ...   7612    550    837]
------------
make
[ 8 68 61 59 54 67 52 45 27 47 13  7 26 35 20 42 29 62 15 30 65 63 71 17
 69 33 57 51 28 49 40 34 43 10 39  3 64 22 48 37 36 66 14 46  6 60 38  1
 19 21 41 25  2 70 50 44 58  4 56 11 55 24 53 12 32 31 16  9 18 23  5]
------------
model
[ 34 395 323 507  33 135 675 815  27 737 508 300 548 105 563 321 409 678
 275 561 297 278 158 396   5 133 338 546 250 146 433 540  36 834 117  63
 150 401 730 547   3 387 474 102 744 767 399 334 774 808 833 835 612   4
 558 231 333 429 177 163 693 187  17 587 696 461 672  13 683 362 108 303
 824 510 239 144 577 825 823 109 106 363 580 725 134 125 583 667 586 482
 797 784 782 698 773 462 455 355 120 602 716 329 497 729 110 649 707 588
 553  61 589 241 555 141 538 122 519 437 829 405  14 670 436 826 809 626
 766 286 225 242 185 615 677 575 220 814 181 238 509 747 447 685  55 316
 417 801 556 245 301 305 609 795 604 207 328 130 317 576 828 536  15  16
 104 292 232 416 298 479 579 516  40 644 741  67 352  95  49  68 710 299
 169 170 101 646 365 764 754 107 318 760 398 434 168 223 746 720 714 217
 280 734 246 340  56 610 686  96 281   2 560 369 647 403 247 817 459 253
  20 176 260 111 668 601 307 229 381 794 457 218 131 680  30 426 756 755
 713 651 712 366 526 404 765 648 127 276 676 757  21  57 554 226 831 179
 326 692 244 687 739 160 533 827 632 629  41 761 199 263 228 671 248  35
 543 541  76 570 674 386 597 274 581 781 530 721 412  54 768 759 736 123
 183 544 727 726 740 453  58 495 444 224 145 219 621 255 451 190 517 216
 763 790  84  70 628  80 458  99  65 167 448 288  44 400 690 339 728 302
 201 606 822 605 234 631 607 608 565 342 590  38 186 175 295 697 311 356
 634 370 636 143 688 142 633 173 174 304 791 779 147 684 656 673 816 124
 691  69 364 367 689 428 112 793 642 293 358 230 552 595 772 194 320 445
   6 733 188  47  11 441 650 758 408 694 523  42 627 529 319 487  91 706
 732 807 166 115 287 113 449 172 512 361 557 549 212 415  19 233 783 603
 196 467 277 613 446 308 514  92  71 505 392 475 485 310 708 360 161 439
 496  97  46 715  10 572 798 273 251 254 515 344 622 184 506  51  25 660
 325 788 504 430 182 450 471 294 478 473 630 438 270 776 472  59 669 138
 655 600 625 156  73 393   1 682 279 313 391 468 165  85  86 640 484 483
 812 785 787 534 129 751 724 413 805 456 832 709 372  39   9 718 213 189
 435 711 639 591 331  83 619 830 100 786 743 200 535 240 442 520 171 118
 136 573  60 268 335 322 419 354 249 537  32 180  98 191 157 397 464 620
 731 267 214 800  88 542  79 198 545 256  72 703  66 376  74 769 425 236
 374 385 284 571  64 384 599 353 789 499  28 264 252 258 762  90 349 574
 643 261 414 700 204 377 702 770 272 480 592 222  43 126 780 202 420 371
 750 522 291 257 406 699 494 719  18 306 489 701 637  87 663 704 149 375
 148 324 578  23 269 568 818 237 259 266  22 705 139  12 745 210 804  94
 491 378 350 383 596  62 532 452  53 813  24 164 195 513 803 562 569 203
 645 664  50 594 265 192 748 206  89 332 151  31   7 132 345 309 159 777
 346 348 197 666 802  45 624 155 431  48 407 271 211 465 341 262  29 486
  75 330  82 282 566 221 454 388 652 567 440 463  37 351 662 617 551 205
 285 654 443 477 411 470 717 695 243 598 616 753 749 410 380 778 582 518
 806 658 379 657 488 137 427 423 511 119 524 424 235 289 810 819 343 503
 771  81 493 641 564 723 140 665 653 315 618 742 792 469 421 661 178 208
 432 466 501 752 738 585 357 659 531 528 390 521 314 227 490 422 593 498
 128 559 492 775  26 283 114  52 418 735 584 373 290 389 796 611 539 153
 215 811 525   8 500 368 152 679 154 550 296 193 402 481  78 623 209 336
 327 681  77  93 394 799 347 162 614 476 116 722 502 337 638 820 460 382
 359 121 312 635 821 103 527]
------------
fuel
[ 1  2  3  4  5  6  7  8  9 10 11]
------------
gear
[1 2 3]
------------
offerType
[1 2 3 4 5]
------------
price
[ 6800  6877  6900 ... 10140 11805 12805]
------------
hp
[116. 122. 160. 110. 156.  99. 131. 150.  86. 101. 105. 204. 141. 120.
  60. 135. 143. 140. 163. 179. 125.  90. 109.  98. 184. 102. 126.  80.
 136. 190. 170.  94. 178.  69.  87. 200. 252. 333.  71.  67.  95.  75.
 272. 218. 231. 239. 300. 224. 320. 354. 286. 370. 235. 265. 211. 367.
 400. 381. 245. 347. 340.  72.  84. 117. 132. 124.  82.  92. 128.  58.
  73. 182. 326. 194. 313. 392. 199. 551.  54.  88. 106.  61.  68.  97.
  77. 258. 155. 349. 310. 254. 220. 209. 250. 177. 238. 114. 280. 230.
 185. 181. 212. 111. 334. 460. 635. 192. 435. 450. 421. 455. 165. 237.
 360. 408. 341. 253. 390. 145. 166.  83.  91. 175. 147. 152.  76.  65.
 167. 173. 118. 462. 306. 449. 188. 717. 510. 600.   5. 121. 197. 330.
 262. 700. 476. 401. 575. 159. 151. 223. 612. 241. 441. 457. 480. 560.
 557. 620. 129. 174. 207. 374. 292. 249. 299. 625. 650. 420. 549. 513.
 144. 287. 186. 303. 571. 562. 570. 446. 430. 201. 363. 275. 203. 264.
 337. 394.  48. 469. 605. 405. 260. 205.  56. 107. 366. 581. 598. 721.
 770. 261.   8. 404. 325. 411.   1. 417. 530. 215. 242. 585. 158.  24.
 345. 610. 133. 630. 387. 351. 500. 453. 328. 222. 290. 639. 305. 213.
 609. 733. 256. 148. 352. 525. 669. 385. 426. 315. 517. 555.  11. 169.
 294. 799. 659. 409. 375. 680. 219. 271. 431. 519. 548. 445. 772. 416.
 288. 775. 196. 309. 226. 468.  10. 464. 751.  42. 189. 503. 281.  79.
 171. 103. 632. 279. 544. 591. 113. 273. 154. 559. 649. 674. 317. 247.
 359. 740. 540. 428.  12. 706. 339.  41.  63.   7. 243. 398. 276.  64.
 364. 572. 670. 283. 362. 608. 642. 604. 532. 314. 291. 481. 521. 193.
 355. 850. 767. 487. 389. 461. 318. 344. 771. 489. 566.]
------------
year
[2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]

In [25]:
cars_data.isnull().sum()

mileage      0
make         0
model        0
fuel         0
gear         0
offerType    0
price        0
hp           0
year         0
dtype: int64

In [26]:
input_data = cars_data.drop(columns=['price'])
output_data =cars_data['price']
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

In [29]:
#model Creation
model = LinearRegression()

In [30]:
#Train MOdel
model.fit(x_train, y_train)

LinearRegression()

In [31]:
predict = model.predict(x_test)

In [32]:
predict

array([16531.63927092,  6227.59733183, 17799.07052729, ...,
       11714.71323727, 24568.83390447,  7075.94948649], shape=(8790,))

In [33]:
x_train.head(1)

      mileage  make  model  fuel  gear  offerType     hp  year
6168   100200    27    338     2     1          1  125.0  2013

In [34]:
input_data_model = pd.DataFrame(
    [[5, 120, 2022, 12000, 100.6, 1, 1, 1]],
    columns=['mileage','make', 'model','fuel', 'gear', 'offerType', 'hp', 'year' ]
)

In [35]:
input_data_model

   mileage  make  model   fuel   gear  offerType  hp  year
0        5   120   2022  12000  100.6          1   1     1

In [36]:
model.predict(input_data_model)

array([-2539518.46531392])

In [37]:
model.predict(input_data_model)

array([-2539518.46531392])

In [38]:
import pickle as pk

In [39]:
pk.dump(model,open('model.pkl','wb'))